
@media(max-width:600px){

    .BlogContainer{
        color: black;
        margin: 12vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "pf"
        "wib"
        "wib";
      }
      
      .profile{
        grid-area: pf;
        display: flex;
        flex-direction: column;
        border: black 3px solid;
        width: 60vw;
        align-items: center;
        margin-left: 2vw;
        margin-right:4vw;
        font-size: 20px;
        height: fit-content;
      }
      .wib{
        margin-left: 2vw;
        margin-right:4vw;
        grid-area: wib;
        border: black 3px solid;
        width: 60vw;
        height: fit-content;
      }
      .wib > p{
        font-size: 20px;
      }
      .socialMedia{
        display: flex;
        flex-direction: column;
        border: black 3px solid;
        align-items: center;
        background-color: tomato;
        padding-bottom: 20px;
      
      }
      button{
        background-color: black;
        color: white;
        height: 5vh;
        width: 60vh;
        border-radius: 20px;
      }
      .buttonA{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
      }
      .fab{
        margin-right: 40px;
      }
      .bio{
        margin-top: 15px;
        text-align: center;
        text-decoration: underline;
      }
      
      #avatar{
        height: 300px;
        width:  60vw;
        
      }
      p{
        font-weight: bolder;
      }
      
      
}

@media(min-width:600px) and (max-width :1100px) {
    .BlogContainer{
        color: black;
        margin: 12vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "pf pf pf"
        "wib wib wib"
        "wib wib wib";
      }
      
      .profile{
        grid-area: pf;
        display: flex;
        flex-direction: column;
        border: black 3px solid;
        width: 60vw;
        align-items: center;
        margin-left: 2vw;
        margin-right:4vw;
        font-size: 20px;
        height: fit-content;
      }
      .wib{
        margin-left: 2vw;
        margin-right:4vw;
        grid-area: wib;
        border: black 3px solid;
        width: 60vw;
        height: fit-content;
      }
      .wib > p{
        font-size: 20px;
      }
      .socialMedia{
        display: flex;
        flex-direction: column;
        border: black 3px solid;
        align-items: center;
        background-color: tomato;
        padding-bottom: 20px;
      
      }
      button{
        background-color: black;
        color: white;
        height: 5vh;
        width: 60vh;
        border-radius: 20px;
      }
      .buttonA{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
      }
      .fab{
        margin-right: 40px;
      }
      .bio{
        margin-top: 15px;
        text-align: center;
        text-decoration: underline;
      }
      
      #avatar{
        height: 300px;
        width:  60vw;
        
      }
      p{
        font-weight: bolder;
      }

}