
@import '../css/StylesForMobile.css';
@import '../css/page2Home.css';
@import '../css/page2Mobile.css';

html {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0%;
  color: wheat;
}

figcaption{
  color: black;
  font-weight: bolder;
}

@media(min-width:600px){
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
          "nv"
          "bc";
      }
      .bodycontent {
        display: grid;
        grid-area: bc;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
          "bks"
          "pls"
          "next";
        grid-gap: 1px;
        border-top: 1px white solid;
        background-color: darkseagreen;
      }
      .booksGrid > figure > img {
        height: 50vh;
        width: 25vw;
      }
      .placesGrid > figure > img {
        height: 50vh;
        width: 30vw;
      }
      .booksGrid {
        display: grid;
        grid-area: bks;
        grid-template-columns: auto auto;
        grid-gap: 15px;
        justify-content: space-evenly;
        border: 1px white solid;
      }
      .placesGrid {
        display: grid;
        grid-area: pls;
        grid-template-columns: auto auto;
        grid-gap: 15px;
        justify-content: space-evenly;
        border: 1px white solid;
      }
      .pageNavigation {
        grid-area: next;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
      }

}

@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas:
      "nv nv"
      "bc bc"
      "bc bc"
      "bc bc"
      "bc bc"
      "bc bc"
      "bc bc"
      "bc bc"
      "bc bc"
      "bc bc"
      "bc bc";
  }

  .bodycontent {
    display: grid;
    grid-area: bc;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "bks pls"
      "next next";
    grid-gap: 1px;
    border-top: 1px white solid;
    background-color: darkseagreen;
  }
  .booksGrid > figure > img {
    height: 150px;
    width: 95px;
  }
  .placesGrid > figure > img {
    height: 150px;
    width: 150px;
  }
  .booksGrid {
    display: grid;
    grid-area: bks;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    justify-content: space-evenly;
    border: 1px white solid;
  }
  .placesGrid {
    display: grid;
    grid-area: pls;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    justify-content: space-evenly;
    border: 1px white solid;
  }
  .pageNavigation {
    grid-area: next;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 10vh;
  }
}

